/* -------------------- Global Styling -------------------- */

/* -------------------- Featured Projects -------------------- */
.card-link{
    color: black;
    text-decoration: none;
}
#projects section{
    text-align: center;
    width: 40%;
    border-radius: 30px;
    box-shadow: 4px 4px 8px 4px #DDD;
    transition: all 350ms ease-in-out;
}
#projects img{
    width: 100%;
    border-radius: 30px 30px 0 0;
}

/* -------------------- Work Experience -------------------- */
#work-experience a{
    display: inline-block;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 1px #CCC;
    color: black;
    text-decoration: none;
    transition: all 350ms ease-in-out;
}

@media (hover: hover){
    /* -- Featured projects -- */
    #projects section:hover{
        transform: translate(-10px, -10px);
        box-shadow: 14px 14px 8px 4px #DDD;
    }

    /* -- Featured projects -- */
    #work-experience a:hover{
        transform: translate(-5px, -5px);
        box-shadow: 9px 9px 8px 1px #CCC;
    }
}