@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* -------------------- Global Styling -------------------- */
html {
    scroll-behavior: smooth;
}
*, *::before, *::after{
    box-sizing: border-box;
}
body{
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
}
p {
    /* for accessibilty */
    max-width: 70ch;
    line-height: 1.5em;
    word-spacing: 0.16em;
    letter-spacing: 0.12em;
}
time {
    font-style: italic;
}

/* -------------------- Featured Projects -------------------- */
.card-link{
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
    width: 40%;
    border-radius: 30px;
    box-shadow: 4px 4px 8px 4px #DDD;
    transition: all 350ms ease-in-out;
}
#projects img{
    width: 100%;
    border-radius: 30px 30px 0 0;
}

/* -------------------- Work Experience -------------------- */
#work-experience a{
    display: inline-block;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 1px #CCC;
    color: black;
    text-decoration: none;
    transition: all 350ms ease-in-out;
}

/* -------------------- Education -------------------- */
#gpa{
    display: inline-block;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 2px 2px #DDD;
}

@media (hover: hover){
    /* -- Featured projects -- */
    .card-link:is(:hover, :focus){
        transform: translate(-10px, -10px);
        box-shadow: 14px 14px 8px 4px #DDD;
    }

    /* -- Featured projects -- */
    #work-experience a:is(:hover, :focus){
        transform: translate(-5px, -5px);
        box-shadow: 9px 9px 8px 1px #CCC;
    }
}